@model ChinChunPetShop.Models.Entity.SanPham

@{
    ViewData["Title"] = "Thêm sản phẩm";
    ViewBag.Mess = ViewBag.message;
    ViewBag.active = "SanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Thêm sản phẩm</h4>
                <form method="post" action="~/admin/sanpham/them" enctype="multipart/form-data">
                    <div class="form-body mb-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="TenSP" class="form-label ipt">Tên sản phẩm:</label>
                                    <input asp-for="TenSP" class="form-control not-null" feedback-show_is_vaild="true" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="MaSKU" class="form-label ipt">Mã SKU:</label>
                                    <input asp-for="MaSKU" class="form-control not-null" feedback-show_is_vaild="true" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="MaVach" class="form-label">Mã vạch:</label>
                                    <input asp-for="MaVach" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="KhoiLuong" class="form-label">Khối lượng (gam):</label>
                                    <input asp-for="KhoiLuong" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="MaLoaiSP" class="form-label ipt">Phân loại:</label>
                                    <select asp-for="MaLoaiSP" class="form-control" asp-items="ViewBag.MaLoaiSP"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="MaNhanHieu" class="form-label ipt">Nhãn hiệu:</label>
                                    <select asp-for="MaNhanHieu" class="form-control" asp-items="ViewBag.MaNhanHieu"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="GiaBanLe" class="form-label ipt">Giá bán lẻ (VNĐ)</label>
                                    <input asp-for="GiaBanLe" class="form-control not-null" feedback-show_is_vaild="true" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="GiaBanSi" class="form-label">Giá bán sỉ (VNĐ)</label>
                                    <input asp-for="GiaBanSi" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="GiaNhap" class="form-label ipt">Giá nhập (VNĐ)</label>
                                    <input asp-for="GiaNhap" class="form-control not-null" feedback-show_is_vaild="true" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="DonViTinh" class="form-label ipt">Đơn vị tính</label>
                                    <input asp-for="DonViTinh" class="form-control not-null" feedback-show_is_vaild="true" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="MoTa" class="form-label">Mô tả</label>
                                    <input asp-for="MoTa" class="form-control" placeholder="Nhập mô tả..." />
                                </div>
                           
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label class="form-label" for="HinhAnhs">Hình ảnh</label>
                                    <input type="file" class="form-control HinhAnh mb-1" id="HinhAnhs" name="HinhAnh" placeholder="">
                                    <div class="col-lg-4 mb-4">
                                        <img src="~/images/sanpham/petshop_sp.png" id="HinhAnh" style="width:100%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label asp-for="GioiThieu" class="form-label">Giới thiệu</label>
                            <textarea asp-for="GioiThieu" class="form-control" rows="3" placeholder="Nhập giới thiệu sản phẩm..."></textarea>
                        </div>
                     </div>
                    <div class="form-actions">
                        <div class="text-end">
                            <button type="submit" class="btn btn-info submit-vadidate">Thêm ngay</button>
                            <button type="reset" class="btn btn-dark">Đặt lại</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!--
 <h1>Create</h1>

 <h4>SanPham</h4>
 <hr />
 <div class="row">
     <div class="col-md-4">
         <form asp-action="Create">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                 <label asp-for="MaSP" class="form-label"></label>
                 <input asp-for="MaSP" class="form-control" />
                 <span asp-validation-for="MaSP" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="TenSP" class="form-label"></label>
                 <input asp-for="TenSP" class="form-control" />
                 <span asp-validation-for="TenSP" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="MaSKU" class="form-label"></label>
                 <input asp-for="MaSKU" class="form-control" />
                 <span asp-validation-for="MaSKU" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="MaLoaiSP" class="form-label"></label>
                 <select asp-for="MaLoaiSP" class ="form-control" asp-items="ViewBag.MaLoaiSP"></select>
             </div>
             <div class="form-group">
                 <label asp-for="MaNhanHieu" class="form-label"></label>
                 <select asp-for="MaNhanHieu" class ="form-control" asp-items="ViewBag.MaNhanHieu"></select>
             </div>
             <div class="form-group">
                 <label asp-for="KhoiLuong" class="form-label"></label>
                 <input asp-for="KhoiLuong" class="form-control" />
                 <span asp-validation-for="KhoiLuong" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="MaVach" class="form-label"></label>
                 <input asp-for="MaVach" class="form-control" />
                 <span asp-validation-for="MaVach" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="DonViTinh" class="form-label"></label>
                 <input asp-for="DonViTinh" class="form-control" />
                 <span asp-validation-for="DonViTinh" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="MoTa" class="form-label"></label>
                 <input asp-for="MoTa" class="form-control" />
                 <span asp-validation-for="MoTa" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="GiaBanLe" class="form-label"></label>
                 <input asp-for="GiaBanLe" class="form-control" />
                 <span asp-validation-for="GiaBanLe" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="GiaBanSi" class="form-label"></label>
                 <input asp-for="GiaBanSi" class="form-control" />
                 <span asp-validation-for="GiaBanSi" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="GiaNhap" class="form-label"></label>
                 <input asp-for="GiaNhap" class="form-control" />
                 <span asp-validation-for="GiaNhap" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <label asp-for="HinhAnh" class="form-label"></label>
                 <input asp-for="HinhAnh" class="form-control" />
                 <span asp-validation-for="HinhAnh" class="text-danger"></span>
             </div>
             <div class="form-group">
                 <input type="submit" value="Create" class="btn btn-primary" />
             </div>
         </form>
     </div>
 </div>

 <div>
     <a asp-action="Index">Back to List</a>
 </div>

 @section Scripts {
     @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
 }
 -->
